<div>
	<a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">New Post</a>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			This is my Blog Assignment for Globetom, as requested this Application does the following:<br /><br />
            <ul>
                <li>Allows the user to post a new blog entry.</li>
                <li>Allows the user view list of all blog entries made.</li>
                <li>Allows the user to edit and/or delete whichever blog entry she/he desires.</li>
            </ul>
        </div>
	</div>
</div>
