<div>
	<a ui-sref="newentry" class="pull-right btn btn-primary btn-outline btn-rounded">New Post</a>
	<div class="jumbotron">
		<div class="container">
			<h1>Welcome!</h1>
			This is my Blog Assignment for Globetom, as requested this Application does the following:<br /><br />
            <ul>
                <li>Allows the user to post a new blog entry.</li>
                <li>Allows the user to a view list of all his/her blog entries.</li>
                <li>Allows the user to edit and/or delete whichever blog entry she/he desires.</li>
            </ul>

            <br /><br />How to use the app:<br /><br />
            <ul>
                <li>To add a new blog entry, on the sidebar click "New Post", both fields are required.</li>
                <li>To View a list of all the entries, on the sidebar click "View Posts".</li>
                <li>To Edit or Delete a specific post, in the thumbnail, click the Edit button.</li>
                <ul>
                    <li>To edit the post, click edit. Both fields are required again.</li>
                    <li>To delete the post, click delete.</li>
                </ul>
            </ul>
        </div>
	</div>
</div>
